<div id="content">
  <h2>My Albums</h2>
    <% @all_albums.each do |album| %>
      <a href="/album/<%= album.id %>"><%= album.title %></a>
      <h5><%= album.description %></h5>
      <p>Album: <a href="/albums/<%= album.id %>"><%= album.title %></a></p>
      <hr>
    <% end %>
</div>