<div id="content">
  <h2><%= @user.username %>'s Albums</h2>
    <% @all_albums.each do |album| %>
      <a href="/albums/<%= album.id %>"><%= album.title %></a>
      <h5><%= album.description %></h5>

      <% if(album.user_id == session[:user_id]) %>
        <form action="/albums" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="id" value= <%= album.id%> >
          <button class="btn btn-default" value="submit">Delete</button>
        </form>
      <% end %>
      <hr>
    <% end %>
</div>