<div id="content">
  <h1><strong><%= @album.title.upcase %></strong></h1>
  Posted by: <a href="/users/<%= @album.user_id %>"><%= @album.user.username %></a>
  <hr>
  <% @photos.each do |photo| %>
    <a href="/photo/<%= photo.id %>"><img src="/images/<%= photo.file_name %>"></a>
    <br>
    <h5><%= photo.caption %></h5>

    <hr>
  <% end %>
</div>