<div id="content">
    <a href="/photos/<%= @photo.id %>"><img src="/images/<%= @photo.file_name %>"></a>
    <h4><%= @photo.caption %></h4>
    Album: <a href="/albums/<%= @photo.album_id %>"><%= @photo.album.title %></a>
    <br>
    Posted by: <a href="/users/<%= @photo.album.user_id %>"><%= @photo.album.user.username %></a>
    <p>
    <hr>
</div>