<% @photos.each do |photo| %>
  <a href="/photo/<%= photo.id %>"><img src="/albums/<%= photo.album_id %>/<%= photo.id %>"></a>
  <h5><%= photo.caption %></h5>
  <p>Album: <a href="/albums/<%= photo.album_id %>"><%= photo.album.title %></a></p>
  <p>Posted by: <%= photo.user.username %></p>
<% end %>